{{ define "statement" }}
<a href="/services" class="btn btn-outline-secondary btn-sm mb-3">
    <i class="bi bi-arrow-left"></i> Назад
</a>
<div class="card">
    <div class="card-body">
        <!-- Информация о заявке -->
        <h3 class="card-title">Заявка: {{ .Statement.Name }}</h3>
        <p class="card-text">
            <strong>Тип:</strong> {{ if eq .Statement.Type "payment" }}Платная{{ else }}Бесплатная{{ end }}<br>
            <strong>От кого:</strong> {{ .User.Username }}<br>
            <strong>Комната:</strong> {{ .User.RoomNumber }}<br>
            <strong>Email:</strong> {{ .User.Email }}<br>
            <strong>Статус:</strong>
            <span class="badge 
                {{ if eq .Statement.Status "awaits" }}bg-warning
                {{ else if eq .Statement.Status "approved" }}bg-success
                {{ else if eq .Statement.Status "denied" }}bg-danger
                {{ end }} text-white">
                {{ if eq .Statement.Status "awaits" }}Ожидает
                {{ else if eq .Statement.Status "approved" }}Одобрено
                {{ else if eq .Statement.Status "denied" }}Отклонено
                {{ end }}
            </span><br>

            <!-- Отображение общежития, номера и даты -->
            {{ if .Statement.Hostel }}
                <strong>Общежитие:</strong> {{ .Statement.Hostel }}<br>
            {{ end }}
            {{ if .Statement.Phone }}
                <strong>Номер телефона:</strong> {{ .Statement.Phone }}<br>
            {{ end }}
            {{ if .Statement.Date }}
                <strong>Дата:</strong> {{ .Statement.Date }}<br>
            {{ end }}
        </p>

        <!-- Кнопки действий -->
        <div class="d-grid gap-2 d-md-block">
            <!-- Форма для одобрения заявки -->
            <form action="/services/request_info/{{ .Statement.ID }}/approve" method="POST" style="display: inline;">
                <button type="submit" class="btn btn-success">
                    <i class="bi bi-check-circle"></i> Одобрить
                </button>
            </form>

            <!-- Форма для отклонения заявки -->
            <form action="/services/request_info/{{ .Statement.ID }}/denied" method="POST" style="display: inline;">
                <button type="submit" class="btn btn-danger">
                    <i class="bi bi-x-circle"></i> Отклонить
                </button>
            </form>
        </div>
    </div>
</div>
{{ end }}
