{{ define "support" }}
<div class="container mt-4">
    <h2 class="mb-4">Поддержка</h2>

    {{ if eq .Role "admin" }}
    <!-- Интерфейс администратора -->
    <div class="admin-interface">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4>FAQ</h4>
                    <!-- Кнопка для открытия модального окна -->
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addFaqModal">
                        <i class="bi bi-plus"></i> Добавить вопрос
                    </button>
                </div>

                <div class="faq-section">
                    {{ range .FAQ }}
                        <div class="faq-item card mb-3 position-relative">
                            <div class="card-body">
                                <!-- Форма удаления -->
                                <form action="/admin/support/faq/{{ .ID }}/delete" method="post" class="position-absolute top-0 end-0 m-2">
                                    <button type="submit" class="btn btn-outline-danger btn-sm d-flex align-items-center justify-content-center">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </form>

                                <!-- Кнопка редактирования -->
                                <form action="#" class="position-absolute top-0 end-0 m-2 me-5">
                                    <button type="button" class="btn btn-outline-secondary btn-sm d-flex align-items-center justify-content-center"
                                            data-bs-toggle="modal" data-bs-target="#editModal-{{ .ID }}">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                </form>


                                <h4 class="card-title">{{ .Question }}</h4>
                                <p class="card-text">{{ .Answer }}</p>
                            </div>
                        </div>

                        <!-- Модальное окно редактирования -->
                        <div class="modal modal-lg fade" id="editModal-{{ .ID }}" tabindex="-1" aria-labelledby="editModalLabel-{{ .ID }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editModalLabel-{{ .ID }}">Редактировать вопрос</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Форма редактирования -->
                                        <form action="/admin/support/faq/{{ .ID }}/update" method="post">
                                            <div class="mb-3">
                                                <label for="question-{{ .ID }}" class="form-label">Вопрос</label>
                                                <input type="text" class="form-control" id="question-{{ .ID }}" name="question" value="{{ .Question }}" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="answer-{{ .ID }}" class="form-label">Ответ</label>
                                                <textarea class="form-control" id="answer-{{ .ID }}" name="answer" rows="10" required>{{ .Answer }}</textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Сохранить</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{ end }}
                </div>

            </div>         
        </div>

        <!-- Модальное окно для добавления вопроса и ответа -->
        <div class="modal modal-lg fade" id="addFaqModal" tabindex="-1" aria-labelledby="addFaqModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addFaqModalLabel">Добавить вопрос в FAQ</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        <form id="add-faq-form" action="/admin/support/add_faq" method="POST">
                            <div class="mb-3">
                                <label for="question" class="form-label">Вопрос</label>
                                <input type="text" class="form-control" id="question" name="question" placeholder="Введите вопрос" required>
                            </div>
                            <div class="mb-3">
                                <label for="answer" class="form-label">Ответ</label>
                                <textarea class="form-control" id="answer" name="answer" placeholder="Введите ответ" rows="10" required></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                <button type="submit" class="btn btn-success">Добавить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ else if eq .Role "user" }}
    <!-- Интерфейс пользователя -->
    <div class="user-interface">
        <div class="row">
            <div class="col-md-8">
                <h4>FAQ</h4>
                <div class="faq-section mb-4">
                    {{ range .FAQ }}
                        <div class="faq-item card mb-3">
                            <div class="card-body">
                                <h4 class="card-title">{{ .Question }}</h4>
                                <p class="card-text">{{ .Answer }}</p>
                            </div>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    {{ end }}
</div>

{{ end }}